<% include ../partials/header %>

<h1>One Book</h1>
<div>	
	<tbody>
		<tr>
			<td><%= book.name %></td>
			<td><%= book.author %></td>
			<td><%= book.year %></td>
			<td><%= book.ISBN %></td>
			<td><%= book.averageRating %></td>
			<td><%= book.price %></td>
		</tr>
	</tbody>
</div>



<% include ../partials/footer %>