<% include ../partials/header%>

<form action="/archers/<%= archer.id %>?_method=PUT" method="POST">
	<div>
	Name:<input type="text" name="archers[name]" value="<%= archer.name %>">
	</div>
	<div>CodeName:<input type="text" name="archers[codeName]" value="<%=archer.codeName%>"></div>
	<div>Picture:<input type="text" name="archers[picture]" value="<%=archer.picture%>"></div>
	<div>Alive T/F:<input type="text" name="archers[aliveYN]" value="<%=archer.aliveYN%>"></div>
	<div>Other Facts (in array):<input type="text" name="archers[mixedBag]" value="<%=archer.mixedBag%>"></div>
	<div><input type="submit"></div>
</form>

<% include ../partials/footer %>