<% include ../partials/header %>

<h1>One Character</h1>
<div>	
	<tbody>
		<tr>
			<td><%= archer.name %></td>
			<td><%= archer.codeName %></td>
			<td><img src="<%= archer.picture %>" alt="Picture goes here"></td> 
			<td><%= archer.aliveYN %></td>
			<td><%= archer.mixedBag %></td>
		</tr>
	</tbody>
</div>



<% include ../partials/footer %>